@include block('main-page') {
  @include el('text-block') {
    background-color: var(--colors-block-bg);
    box-shadow: var(--shadow);
  }

  @include el('search-input') {
    box-shadow: var(--shadow);

    input {
      box-shadow: var(--shadow-inset);
    }
  }

  @include el('search-btn') {
    box-shadow: var(--shadow), var(--shadow-inset);
    background-color: var(--colors-block-bg);
  }
}