@include block('albums-item') {
  background-color: var(--colors-block-bg);
  cursor: default;

  &:hover {
    box-shadow: var(--shadow);
  }

  @include el('title') {
    color: var(--colors-text-secondary);
    font-weight: 600;

    &:hover {
      color: var(--colors-text-basic);
    }
  }

  @include el('detail') {
    color: var(--colors-text-additional);
  }

  @include el('detail-label') {
    color: var(--colors-text-secondary);
    font-weight: 600;
  }

  @include el('heart-wrapper') {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}