@include block('pagination-block') {
  @include el('link') {
    border: 1px solid var(--colors-divider);
    background-color: var(--colors-block-bg);
    color: var(--colors-text-additional);

    &:hover {
      border: 1px solid var(--colors-divider);
      background-color: var(--colors-bg);
      color: var(--colors-text-basic);
    }

    @include mod('current') {
      cursor: default;
      color: var(--colors-scrollbar-thumb);

      &:hover {
        border: 1px solid var(--colors-divider);
        background-color: var(--colors-block-bg);
        color: var(--colors-scrollbar-thumb);
      }
    }
  }
}