@include block('lang-switcher') {
  border: 1px solid var(--colors-text-additional);

  .fi {
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 #999;
  }

  @include el('select') {
    width: 50px;
    border: none;
    background: var(--colors-block-bg);
    color: var(--colors-text-secondary);
    outline: none;
  }
}
