@include block('heart') {
  @include el('icon') {
    fill: var(--colors-scrollbar-thumb) !important;

    &:hover {
      fill: #f8cf54 !important;
    }

    @include mod('active') {
      fill: var(--colors-logo-yellow) !important;
    }
  }
}