@include block('albums-item') {
  background-color: var(--colors-block-bg);
  cursor: default;

  &:hover {
    box-shadow: var(--shadow);
  }

  @include el('spinner') {
    align-items: start !important;
  }
}