:root {
  --family: 'Nunito Sans', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;
}

body[data-theme='dark'] {
  --colors-text-basic: rgb(255 255 245 / 86%);
  --colors-text-secondary: rgb(235 235 235 / 60%);
  --colors-text-additional: rgb(200 200 200 / 60%);
  --colors-text-green: #80a665;
  --colors-text-red: #c98a7d;
  --colors-text-yellow: #b8a965;
  --colors-link: #6da13f;
  --colors-link-hover: #668d11;
  --colors-bg: #161618;
  --colors-block-bg: #1e1e20;
  --colors-divider: rgb(82 82 89 / 32%);
  --colors-toast-success-text: rgb(18 181 157);
  --colors-toast-success-border: rgb(18 181 157 / 50%);
  --colors-toast-success-bg: rgb(18 181 157 / 10%);
  --colors-toast-warning-text: #eab308;
  --colors-toast-warning-border: rgb(234 179 8 / 50%);
  --colors-toast-warning-bg: rgb(234 179 8 / 5%);
  --colors-toast-danger-text: #f43f5e;
  --colors-toast-danger-border: rgb(244 63 94 / 50%);
  --colors-toast-danger-bg: rgb(244 63 94 / 5%);
  --shadow: #3c3c3c 0 0 8px;
}

body[data-theme='light'] {
  --colors-text-basic: rgb(60 60 67 / 92%);
  --colors-text-secondary: rgb(56 56 56 / 70%);
  --colors-text-additional: rgb(50 50 50 / 50%);
  --colors-text-green: #59873a;
  --colors-text-red: #b56959;
  --colors-text-yellow: #998418;
  --colors-link: #6da13f;
  --colors-link-hover: #668d11;
  --colors-bg: #f6f6f7;
  --colors-block-bg: #fff;
  --colors-divider: rgb(60 60 67 / 12%);
  --colors-toast-success-text: rgb(12 124 108);
  --colors-toast-success-border: rgb(12 124 108 / 50%);
  --colors-toast-success-bg: rgb(18 181 157 / 10%);
  --colors-toast-warning-text: #eab308;
  --colors-toast-warning-border: rgb(234 179 8 / 50%);
  --colors-toast-warning-bg: rgb(234 179 8 / 5%);
  --colors-toast-danger-text: #f43f5e;
  --colors-toast-danger-border: rgb(244 63 94 / 50%);
  --colors-toast-danger-bg: rgb(244 63 94 / 5%);
  --shadow: #ddd 0px 8px 24px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text-basic);
  background-color: var(--colors-bg);
}
