:root {
  --family: 'Nunito Sans', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;
  --colors-logo-yellow: #f3be24;
  --colors-logo-green: #729b1a;
}

body[data-theme='dark'] {
  --colors-text-basic: rgb(255 255 245 / 86%);
  --colors-text-secondary: rgb(235 235 235 / 60%);
  --colors-text-additional: rgb(200 200 200 / 60%);
  --colors-text-green: #80a665;
  --colors-text-red: #c98a7d;
  --colors-text-yellow: #b8a965;
  --colors-link: #6da13f;
  --colors-link-hover: #668d11;
  --colors-bg: #161618;
  --colors-block-bg: #1e1e20;
  --colors-divider: rgb(82 82 89 / 32%);
  --toastify-color-success: #1c2e2d;
  --toastify-text-color-success: #12b59d;
  --toastify-color-border-success: #177265;
  --toastify-color-warning: #28251e;
  --toastify-text-color-warning: #eab308;
  --toastify-color-border-warning: #896c13;
  --toastify-color-error: #22181c;
  --toastify-text-color-error: #f43f5e;
  --toastify-color-border-error: #8b2b3d;
  --shadow: #3c3c3c 0 0 8px;
  --shadow-inset: inset #3c3c3c 0 0 3px;
}

body[data-theme='light'] {
  --colors-text-basic: rgb(60 60 67 / 92%);
  --colors-text-secondary: rgb(56 56 56 / 70%);
  --colors-text-additional: rgb(50 50 50 / 50%);
  --colors-text-green: #59873a;
  --colors-text-red: #b56959;
  --colors-text-yellow: #998418;
  --colors-link: #6da13f;
  --colors-link-hover: #668d11;
  --colors-bg: #f6f6f7;
  --colors-block-bg: #fff;
  --colors-divider: rgb(60 60 67 / 12%);
  --toastify-color-success: #e6f8f5;
  --toastify-text-color-success: #0c7c6c;
  --toastify-color-border-success: #78b9b0;
  --toastify-color-warning: #fefbf2;
  --toastify-text-color-warning: #eab308;
  --toastify-color-border-warning: #f3d77c;
  --toastify-color-error: #f7edef;
  --toastify-text-color-error: #f43f5e;
  --toastify-color-border-error: #f595a6;
  --shadow: #ddd 0px 8px 24px;
  --shadow-inset: inset #ddd 0px 2px 10px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text-basic);
  background-color: var(--colors-bg);
}

/* stylelint-disable */
.Toastify__toast {
  border-radius: 0;
}

.Toastify__toast--success {
  border: 1px solid var(--toastify-color-border-success);

  .Toastify__close-button {
    color: var(--toastify-text-color-success);
  }
}

.Toastify__toast--warning {
  border: 1px solid var(--toastify-color-border-warning);

  .Toastify__close-button {
    color: var(--toastify-text-color-warning);
  }
}

.Toastify__toast--error {
  border: 1px solid var(--toastify-color-border-error);

  .Toastify__close-button {
    color: var(--toastify-text-color-error);
  }
}
/* stylelint-enable */
