@include block('auth-btn') {
  display: flex;
  border: 1px solid var(--colors-text-additional);
  height: 26px;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--colors-text-additional);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--colors-text-basic);
    color: var(--colors-text-basic);

    /* stylelint-disable */
    svg {
      fill: var(--colors-text-basic) !important;
    }
  }

  svg {
    fill: var(--colors-text-additional) !important;
    height: 24px;
    width: 24px;
    margin: auto;
  }
  /* stylelint-enable */

  @include el('label') {
    padding-left: 6px;
  }
}
