@import './logo/style';

@include block('header-block') {
  background-color: var(--colors-bg);
  box-shadow: var(--shadow);
  z-index: $zindex-tooltip;

  @include el('list') {
    li {
      padding: 1rem 0.5rem;
    }

    @include el('item') {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}